<h2 class="text-center mt-4">Search recipes by ingredients</h2>
<div class="d-flex p-2 justify-content-center">
    <form class="d-flex " role="search" id= "search-by-ingredients-bar" >
            <input class="form-control me-2 border-dark" id="ing-query" type="search" placeholder="Enter items separated by ','" aria-label="Search">
            <button class="btn btn-outline-success" id="search-button" type="submit" disabled> Search </button>
    </form>
    <script defer>
        document.addEventListener('DOMContentLoaded', function() {
          document.getElementById('search-by-ingredients-bar').addEventListener('submit', function(event) {
            event.preventDefault();
            var query = document.getElementById('ing-query').value;
            window.location.href = '/recipes?ing_query=' + encodeURIComponent(query);
          });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var searchInput = document.getElementById('ing-query');
            var searchButton = document.getElementById('search-button');

            searchInput.addEventListener('input', function() {
                var inputText = searchInput.value.trim();
                searchButton.disabled = inputText === '';
            });
        });

        function toggle(x, itemId) {
            if (x.classList.contains('bi-heart')) {
                addFavorite(itemId);
                x.classList.remove('bi-heart');
                x.classList.add('bi-heart-fill');
            } else {
                removeFavorite(itemId);
                x.classList.remove('bi-heart-fill');
                x.classList.add('bi-heart');
            }
        }

        function addFavorite(itemId) {
            const url = '/favorites';
            const params = { item_id: itemId };

            fetch(url, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
                },
                body: JSON.stringify(params)
            })
            .then(response => response.json())
            .catch(error => console.error('Error:', error));
        }

        function removeFavorite(itemId) {
            const url = `/favorites/${itemId}`;
            const params = { _method: 'DELETE' };

            fetch(url, {
                method: 'DELETE',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
                },
                body: JSON.stringify(params)
            })
            .then(response => response.json())
            .catch(error => console.error('Error:', error));
        }

      </script>
</div>
<h1 class="text-center mt-4">Recipes</h1>
<div class="flickr_pagination">
  <%= will_paginate @recipes, :container => false %>    
    <div class="row row-cols-1 row-cols-md-3 g-4 m-auto">
        <% if @recipes.any? %>
            <% @recipes.each do |recipe| %>
                <div class="col mb-3">
                    <div class="card h-100 bg-dark ">
                        <%= image_tag "dummy.png", class: "card-img-top" %>
                        <div class="card-body text-light" style="display: flex; justify-content: space-between;" >
                                <h4 class="card-title w-50"> <%= recipe.recipe_name %> </h4>
                                <i onclick="toggle(this, <%= recipe.id %>)" class= "<%= @user.favorites.exists?(recipe_id: recipe.id) ? 'bi bi-heart-fill': 'bi bi-heart'%>"></i>
                                <%= link_to 'View', recipe_path(recipe), class: "btn btn-warning float-right" %>
                        </div>
                    </div>
                </div>
            <%  end %>
        <% else %>
            <div class="col">
                <div class="card h-100 bg-dark ">
                    <%= image_tag "dummy.png", class: "card-img-top" %>
                    <div class="card-body text-light" style="display: flex; justify-content: space-between;" >
                            <h4 class="card-title"> OOPS! Recipe Not Found</h4>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

